@charset "UTF-8";

/*bodyのフォント*/
body {
	font-family: "うずらフォント";
	background-color: #FFFFC9;
}

/*ロゴ画像の横にリンクデータなどを持ってくる*/
.header1 {
  /*border-bottom:3px dotted black;*/
  background-color:000;
}



/*新規登録・ログインを右上に持ってくる。*/
.nav1 {
	position: absolute;
	right: 1%;
	top:20px;
}

/*新規登録・ログインを横に並べて文字を大きくしている*/
.nav1 li{
	display: inline;
	padding-right:10px;
	font-size:20px;
}


/*新規登録とログインのボタン*/
.header2 {
	padding: 8px 16px;
	background-color:green;
	color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration:none;
}


/*キーワード検索の位置調整*/
.header3 {
	position:absolute;
	right:1%;
	top:100px;
}

/*キーワード検索のテキストボックスの大きさ*/
#header4 {
	width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
/*検索ボタンの大きさ*/
#header5 {
	 padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*メイン・チャット・Myペット図鑑・ジャンルの位置と大きさ*/
/*ジャンルのプルダウン*/
.header_link {
    margin: 0;
    padding: 0;
    display: flex;
}
.header_link li {
    list-style: none;
    width: 300px;
    background: #fff;
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 3;
    border: 1px solid #333399; /*ナビの周りの枠色*/
    box-sizing: border-box;
    background-color:#CCFF99; /*ヘッダーのナビの後ろの色*/
    cursor: pointer;
  pointer-events: auto;

}
.header_link li a {
    text-decoration: none;
    color: #000;
     pointer-events: auto;
}

.header_link li ul {
    display: none;
    margin-left: -40px;
    position: absolute;
}
.header_link li ul li {
    border-top: 1px solid #eee;
    width: 300px;
}


