@charset "UTF-8";

/*ロゴ画像の横にリンクデータなどを持ってくる*/
.header1 {
  border-bottom:3px dotted black;
  background-color:yellow;
}



/*新規登録・ログインを右上に持ってくる。*/
.nav1 {
	position: absolute;
	right: 1%;
	top:20px;
}

/*新規登録・ログインを横に並べて文字を大きくしている*/
.nav1 li{
	display: inline;
	padding-right:10px;
	font-size:20px;
}


/*新規登録とログインのボタン*/
.header2 {
	padding: 8px 16px;
	background-color:green;
	color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/*キーワード検索の位置調整*/
.header3 {
	position:absolute;
	right:1%;
	top:100px;
}

/*キーワード検索のテキストボックスの大きさ*/
#header4 {
	width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
/*検索ボタンの大きさ*/
#header5 {
	 padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*メイン・チャット・Myペット図鑑・ジャンルの位置と大きさ*/
/*.nav2 li {
	display: inline-block;
	margin-right:20px;
	font-size:30px;
}

.header6{
	background-color:green;
	color:white;
	padding: 18px 20px;

}

.nav2 {
	position:absolute;
	top:30px;
	left:200px;
	text-align:center;
	width:70%;
}
*/

/*ジャンルのプルダウン*/
.header_link {
    margin: 0;
    padding: 0;
    display: flex;
}
.header_link li {
    list-style: none;
    width: 200px;
    background: #fff;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 2.8;
    border-right: 1px solid #eee;
    box-sizing: border-box;
}
.header_link li a {
    text-decoration: none;
    color: #000;
}

.header_link li ul {
    display: none;
    margin-left: -40px;
    position: absolute;
}
.header_link li ul li {
    border-top: 1px solid #eee;
}