@charset "UTF-8";

/*h1*/
h1 {
	color:#3E260C;
	font-family: "うずらフォント";
    text-align: center;
}

/*body*/
body {
	font-family: "うずらフォント";
}

/* footer*/
#footer {
	background-color: #FFFFC9;
	background-image: url(/coffee_Milk/img/足跡.png);
	background-repeat: repeat-x;

  margin: 30px auto 0 auto;
  padding: 5px 5px 5px 5px;
  background-position: bottom;
}

/* wrapper */
.wrapper {
  margin: 0 auto 0 auto;
}

/*ID*/
.ID {
	color:#805C39;
}

/*PASS*/
.PASS {
	color:#805C39;
}

/*label*/
label{
	display: inline-block;
    text-align: right;
    width: 380px;
}

/*button*/
#button {
	margin: 0 auto 0 auto;
    text-align: center;
	font-size:30px;
	line-height:80px;
}

/* login */
.login {
	font-size:20px;
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779A;
    background: #FFFF8D;
    cursor: pointer;
	font-family: "うずらフォント";
}

/* reset */
.reset {
	font-size:20px;
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779A;
    background: #FFFF8D;
    cursor: pointer;
	font-family: "うずらフォント";
}

/*menu*/
.menu {
	font-size:20px;
}