@charset "UTF-8";

/*h1*/
h1 {
	color:#3E260C;
	font-family: "うずらフォント";
}

/*body*/
body {
	font-family: "うずらフォント";
}

/* footer*/
#footer {
		background-color: #FFFFC9;
  background-image: url(/coffee_Milk/img/足跡.png);
  background-repeat: repeat-x;

  margin: 30px auto 0 auto;
  padding: 5px 5px 5px 5px;
  background-position: bottom;
  max-width: 600px;
}

/* wrapper */
.wrapper {
  margin: 0 auto 0 auto;
  max-width: 600px;
}

/*button*/
#button {
  margin: 0 auto 0 auto;
}